* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
  
.container {
	margin: auto;
	width: 90%;
}

body {
	font-family: sans-serif;
	/* background: #34495e; */
}

.box {
	width: 370px;
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #191919;
	text-align: center;
	-webkit-box-shadow: -30px 24px 32px -8px rgba(0,0,0,0.75);
	-moz-box-shadow: -30px 24px 32px -8px rgba(0,0,0,0.75);
	box-shadow: -30px 24px 32px -8px rgba(0,0,0,0.75);
}

.box h1 {
	color: white;
	text-transform: uppercase;
	font-weight: 500;
}

.box input[type = 'text'], .box input[type = 'password']{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #3498db;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
}

.box input[type = 'text']:focus, .box input[type = 'password']:focus{
	width: 260px;
	border-color: #2ecc71;
}

.box input[type = 'submit']{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #2ecc71;
	padding: 14px 40px;
	width: 120px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
}

.box input[type = 'submit']:hover{
	background: #2ecc71;
}


