<!DOCTYPE html>
<html lang="en">
<head>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TopDesign</title>
</head>
<body>
  <div class="container">
    <section class='section'>
      <div>
        <ul class="nav-bar">
          <a href="">Home</a>
          <a href="">About Us</a>
          <a href="">Contact</a>
          <a href="">Profile</a>
        </ul>
      </div>
    </section>
  </div>
</body>
</html>