<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>
</head>

<body>
  <div class="container">
    <header class='header'>
      <%- include('partials/navbar') %>
    </header>
    <section>
      <!-- <img class="banner" src="/images/banner.jpg" alt="banner-img"> -->
      <div class="intro">
        <h1>¿Qué es Top Design?</h1>
        <img src="/images/section-image.jpg" alt="">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et ab eum mollitia numquam, quae fugit facere
          officiis porro totam dignissimos quis illum enim provident dolorem ut quam explicabo voluptate! Assumenda.</p>
      </div>
      <div class="row">
        <div class="left-row">
          <div class="single-row">
            <div class="icon-row"><i class="fas fa-laptop"></i></div>
            <h2>Como Creadores</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi odio repellendus dolorem? Libero
              perferendis minus impedit aut, id sunt omnis.</p>
          </div>
          <div class="single-row">
            <div class="icon-row"><i class="fas fa-lightbulb"></i></div>
            <h2>Nuestro Objetivo</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi odio repellendus dolorem? Libero
              perferendis minus impedit aut, id sunt omnis.</p>
          </div>
        </div>
        <div class="rigth-row">
          <div class="single-row">
            <div class="icon-row"><i class="fas fa-trophy"></i></div>
            <h2>Como Consultores</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi odio repellendus dolorem? Libero
              perferendis minus impedit aut, id sunt omnis.</p>
          </div>
          <div class="single-row">
            <div class="icon-row"><i class="fas fa-users"></i></div>
            <h2>En que Creemos</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi odio repellendus dolorem? Libero
              perferendis minus impedit aut, id sunt omnis.</p>
          </div>
        </div>
      </div>
    </section>
  </div>
</body>

</html>