<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/stylesheets/products.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producto</title>
</head>

<body>
    <div class="container">
        <div class="product-container">
            <img src="/images/product-image.jpg" alt="">
            <h2>30 usd</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem voluptas veritatis, non laborum distinctio
                officia exercitationem nemo nesciunt quae.</p>
            <button id="checkout-button">Checkout</button>
        </div>
    </div>
</body>

</html>