<header class='header'>
    <h1 class="logo"> <a href="">TopDesign</a> </h1>
    <ul class="nav-bar">
      <div class="search">
        <input class="search-input" type="text" name="keywords" placeholder="¿Qué estás buscando?">
        <button type="submit" class="search-button"><i class="fas fa-search"></i></button>
      </div>
      <a href="/"><i class="fas fa-home"></i> Home</a>
      <a href="">About Us</a>
      <a href=""><i class="fas fa-paper-plane"></i> Contact</a>
      <a href="/users/register"><i class="fas fa-sign-in-alt"></i> Sign in</a>
    </ul>
  </header>